
<div class="card-title">
    <button class="top-right-button" (click)="logout()">Cerrar Sesion</button>
</div>

<div class="heroe-card">

    <div class="card-title">
        <img [src]="heroeDetalle.nombreImagen" alt="{{ heroeDetalle.nombre }}" style="width: 22.5em; height: 22em;">
    </div>
    <div class="form-group">
        <h2>{{ heroeDetalle.nombre  }}</h2>
        <h3> Edad: {{heroeDetalle.edad}}</h3>
        <p>{{heroeDetalle.descripcion}}</p>
        <br>
        <br>
        <button type="button" (click)="retorno()">Regresar</button>
    </div>

</div>